extends layout

block content
  .timeline
    div
      a(href='/') 메인으로
    .half
      h2 프로필
      div
        b 이메일
        div= user.email
      div
        b 닉네임
        div= user.nick
      div
        b 가입일
        -const createdAt = String.prototype.split.apply(user.createdAt, [' ']).slice(0, 5).join(' ')
        div= createdAt
    .half
      h2 프로필 수정
      form#nickname-form(action='/user/profile' method='post')
        input(type='text' name='nick' placeholder='수정할 닉네임')
        button.btn 수정